<%= form_tag channel_search_path, method: :get, class: 'form-horizontal' do %>
    <div class="control-group">
        <label class="control-label" for="channel_name">channel_name</label>
      <div class="controls">
        <%= text_field_tag :channel_name, params[:channel_name] %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= submit_tag 'Поиск', class: :btn %>
      </div>
    </div>
<% end %>
<ul>
  <% @channels.each do |channel|%>
    <li><span><%= channel.name  %></span><%= link_to 'Подписаться на канал', "/channels/#{channel.id}/subscribe" %></li>
  <% end %>
</ul>
