<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
  <%= private_channel_label(@channel) %>
</p>

<%= link_to 'Редактировать канал', edit_channel_path(@channel) %>
<%= link_to 'Удалить канал', channel_path(@channel), method: :delete %>

<ul>
    <% @channel.subscriber.each do |subscriber|%>
        <li><span><%= subscriber.username  %></span><%= link_to 'Удалить подписцика', "/channels/#{@channel.id}/unsubscribe/#{subscriber.id}" %></li>
    <% end %>
</ul>

<%= form_tag '/channels/'+@channel.id.to_s, method: :get, class: 'form-horizontal' do %>
    <div class="control-group">
        <label class="control-label" for="nickname">nickname</label>
      <div class="controls">
        <%= text_field_tag :nickname, params[:nickname] %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="first_name">Имя</label>
      <div class="controls">
        <%= text_field_tag :first_name, params[:first_name] %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="last_name">Фамилия</label>
      <div class="controls">
        <%= text_field_tag :last_name, params[:last_name] %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="provide">Тип соц. сети</label>
      <div class="controls">
        <%= select_tag :provider, options_for_select(providers) %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= submit_tag 'Поиск', class: :btn %>
      </div>
    </div>
<% end %>
<ul>
  <% @users.each do |user|%>
    <li><span><%= user.username  %></span><%= link_to 'Добавить на канал', "/channels/#{@channel.id}/subscribe/#{user.id}" %></li>
  <% end %>
</ul>
